
/* General */

body{
   background: #fff;
   width: 100%;
   height: 100%;
   font-size: 14px;
   font-family: arial,sans-serif;
   color: #222;
   height: 100%;
   display: flex;
}

a {
   color: rgba(0,0,0,0.87);
   text-decoration: none;
   font-size: 14px;
   display: inline-block;
}


/* Header */

header{
   position: absolute;
   top: 2.5%;
   left: -15px;
   width: 100%;
   height: 0.5%;
}

.headerIcon{ 
   padding: 6px;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 13px;
   line-height: 30px;
   font-family: 'Roboto',Arial,sans-serif;
}

header.page-header{
   display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  width: 100%;
  padding: 10px;
  margin-left: 10px;
}

.headerIcon:hover{
   text-decoration: underline;
}

.icoApp{
   width: 30px;
   height: 30px;
   background: rgba(0,0,0,0);
   border-radius: 50%;
   margin-left: 7px;
}
.icoApp:hover{
   background: rgba(0,0,0,0.07);

}

.ponpon img{
   border: rgba(0,0,0,0) solid 4px;
   border-radius: 50%;
   height: 40px;
   width: 40px;
   margin-right:10px;
}

.ponpon img:hover{
   border: rgba(0,0,0,0.07) solid 4px;
}


/* Main */

main{
   position: absolute;
   top: 18%;
   width: 100%;
   height: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.logogg{
   padding-bottom: 20px;
}

.loupe {
   position: relative;
   top: 0;
   left: 2%;
   width: 23px;
   top: 54%;
}

input{
  height: 100%;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 20px 20px 20px 20px;
}

input:focus{
   display: none;
}

.searchBar{
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 20px 20px 20px 20px;
   background-color: transparent;
   height: 39px;
}

.searchBar:hover{
   border-color: rgba(0,0,0,0.87);
   box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.20) ;
}

.boutons{
   display: flex;
   margin: 25px;
}
button{
   background-color: rgba(0,0,0,0.03);
   border:  rgba(0,0,0,0.0) solid 1px;
   padding: 7px;
   font-weight: 400;
}

button:hover{
   border: rgba(0,0,0,0.1) solid 1px;
}

.btnrech{
margin-right: 12px;
}

.btnChan{
 margin-left: 12px;
}


.dispLang{
   font-size: 13px;
   font-family: Arial, sans-serif;
}
.dispLang a{
   color: #1a0dab;
}
.dispLang a:hover{
   text-decoration: underline;
}

/* Footer */
 footer{
   background: #f2f2f2;
   position: absolute;
   top: 80%;
   width: 100%;
   height: 20%;
 }

 footer.page-footer{
   display: flex;
   justify-content: space-evenly;
   flex-wrap: wrap;
   padding: 4px;
   color: #70757a;
 }

 footer a{
    color: #70757a;
    padding-right: 10px;
    padding-left: 10px;
 }

 footer a:hover{
    text-decoration: underline;
 }

 p.pays{
   padding-right: 88%;
   padding-top: 10px;
   padding-left: 25px;
   width: 100%;
   height: 30px;
   border-bottom: 1px solid #dadce0;
 }

 p.ecolo{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 20px;
   margin-top: -20px;
   width: 100%;
   padding-top: 7px;
   }

   .ecolo img{
   padding-right: 5px;
   transform: rotate(10deg);
   }

   .foocontainer{
      width: 65%;
      line-height: 35px;
      text-align: center;
   }
  
   @media (min-width: 580px){
      body{
         overflow: hidden;
      }
   }

   @media (max-width: 690px){
     .loupe{
      left: 7%;
     }
   }
   @media (max-width: 850px){
      .foocontainer{
         width: 80%;
      }
   }
   @media (max-width: 690px){
      .foocontainer{
         font-size: 13px;
      }
      p.ecolo{
         font-size: 14px;
      }
      input{
         width: 90%;
      }
      footer{
         top:73%;
         height: 30%;
         width: 100%;
      }
      .searchBar:hover {
         border-color: rgba(0,0,0,0.87);
         box-shadow: none;
     }
   }
   @media (max-width: 580px){
   main{
      top: 18%;
      width: 100%;
      height: 40%;
   }
   footer{
      top:70%;
      height: 40%;
      width: 100%;
   }
   }
   @media (max-width: 384px){
      main{
         top: 18%;
         width: 100%;
         height: 30%;
      }
      footer{
         top:60%;
         height: 40%;
         width: 100%;
      }
   }