body{
   background: #fff;
   font-size: 14px;
   font-family: arial,sans-serif;
   color: #222;
   height: 100%;
   display: flex;
}

a {
   color: rgba(0,0,0,0.87);
   text-decoration: none;
}

.headerIcon{ /* Ajout de padding aux icones du header */
   padding: 4px;
   display: flex;
   align-items: center;
   justify-content: center;
}

header.page-header{
   display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  width: 100%;
  padding: 10px;
  margin-left: 10px;
}

.headerIcon:hover{
   text-decoration: underline;
}

.icoApp{
   width: 40px;
   height: 40px;
}

.ponpon img{
   border: rgba(0,0,0,0) solid 5px;
   border-radius: 50%;
   height: 40px;
   width: 40px;
}

.ponpon img:hover{
   border: rgba(0,0,0,0.10) solid 5px;
}


